<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div ng-include="'components/header/cabecera.html'"></div>
</header>

<div class="container" ng-controller="FeedCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Filtros:</h1> {{message}}
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in feedlist | feedIsFixed" ng-click="open(thing)">
                <li><a href="#" tooltip="{{thing.fixed}}">{{thing.title}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a>
                    <span class="notification-counter">{{thing.quantity}}</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">Fijos:</h1> {{message}}
            <ul ng-if="thing.fixed==true" class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in feedlist | filter:{fixed:true}" ng-click="open(thing)">
                <li><a href="#" tooltip="{{thing.fixed}}">{{thing.title}}<button type="button" class="close" ng-click="deleteThing(thing);">&times;</button>   
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <img class="img-responsive center-block" src="{{seleccionActual.description}}">
            <input class="form-control" ng-model="seleccionActual.title"> </input>
            <input id="checkSlave" type="checkbox" ng-checked="seleccionActual.fixed" aria-label="Fixed"> {{seleccionActual.quantity}}

            <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in seleccionActual.titlefind track by $index" ng-click="open(thing)">
                <div>{{thing | tagsInNameCap}} {{thing | tagsInName}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
<div ng-include="'components/footer/footer.html'"></div>