<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div ng-include="'components/header/cabecera.html'"></div>
</header>
<div class="col-md-12">

    <div class="page-header">
    </div>
    <div class="jumbotron" ng-controller="SearchCtrl as searchitem" style="padding-top:8px">

        <div class="topAlert">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="topAlert">
            <div ng-repeat="show in rssAnyadidos">
                <img title="{{show.title}}" src="{{show.description}}">
            </div>
        </div>
        <div ng-controller="SearchCtrl as searchTool">
            <div class="text-center">

                <div class="form-group">
                    <label>Añadir Magnet:</label>
                    <br />
                    <button class="glyphicon glyphicon-magnet btn btn-primary text-right form-control" ng-click="open('aa')" style="max-width:250px"></button>
                </div>
                <div class="form-group">
                    <form ng-show="!busquedaActiva">
                        <label>Buscar:</label>
                        <input class="form-control" ng-model="searchWord">
                        <button ng-click=searchClick()>Buscar!</button>
                    </form>
                </div>
            </div>
            </ul>
            <div ng-show="busquedaActiva">
                <div class="load-bar">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>

            <table ng-table="" class="table">
                <thead>
                    <tr>
                        <td>Titulo</td>
                        <td>Tamaño</td>
                        <td>Seeds</td>
                        <td>Leechs</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in searchList.list">
                        <h3 class="text-center alert alert-info">Total items:  {{totalItems}}  </h3>
                        <td title="{{item.title}}">{{item.title | specialCharacters}}</td>
                        <!--  <td title="{{item.title | specialCharacters}}">{{item.title | specialCharacters | shortTitle}}</td>-->
                        <td>{{item.size | formatBytes}}</td>
                        <td>{{item.seeds}}</td>
                        <td>{{item.leechs}}</td>
                        <td>
                            <button ng-click="AddTorrent(item.title, item.torrentLink, item.link)">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged(bigCurrentPage)"></pagination>
            </div>
        </div>
    </div>
    <div ng-controller="ModalAddMagnetCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre del Filtro:</label>
                    <input class="form-control" ng-model="FilterName"> </input>
                </div>

                <div class="form-group">
                    <label>Magnet url:</label>
                    <input class="form-control" ng-model="UrlMagnet"> </input>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">Añadir</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
        </script>
        </div>
        <div ng-include="'components/footer/footer.html'"></div>